.item{
    width:250px;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item img{
    width:250px;
}

.item:hover{
    transform: scale(1.04);
    transition:0;
}
.item p{
    font-size: 14px;
    margin:4px 0;
    padding-left:5px;
}

.item-price {
    display: flex;
    gap:20px;
    padding-left:5px;
}

.item-price-old {
     text-decoration: line-through;
     color:grey;
     font-size:16px;
}

.item-price-new{
    font-weight: 600;
    font-size:17px;
}